{% extends "base.html" %} {%block head%}
<title>Home</title>
{%endblock %} {%block body%}
<br>
<br>


<h1>Home Page</h1>
<br>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome to AB's Blog</h1>
        <p>Best place for your blogs to put in</p>
        <p>You can put all your blogs based on Machine Learning, Deep Learning,Natural Language Processing, Time Series Forecastin, and many more</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Blog Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
</div>
{%endblock %}
 